:root {
    /* --custom-ice: #F7EFE2;
    --custom-orange: #f9a603;
    --custom-marmelade: #f25c00;
    --custom-cherry-red: #f70025; */
    --custom-bg: #f1f1f2;
    --custom-title: #bcbabe;
    --custom-input: #A1D6E2;
    --custom-info: #1995AD;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }

body{
    background-color: var(--custom-bg);
}
.bg-light{
    background-color: var(--custom-title)!important;
}

.dropdown-menu{
    background-color: var(--custom-input);
}

.jumbo{
    background-color: var(--custom-bg);
    color:  var(--custom-title);
}

.jumbo-line{
    height: 50px;
    font-size: 1.2rem;
    background-color: var(--custom-bg);
    color:  var(--custom-title);
}

.jumbotron{
    background-color: var(--custom-info);
}
.btn{
    background-color: var(--custom-title);
}
.btn-primary{
    background-color: var(--custom-title);
}
.form-control{
    background-color: var(--custom-bg);
}
.custom{
    color: var(--custom-info);
    background-color: var(--custom-input);
}
.custom-line{
    height: 50px;
    color: var(--custom-info);
    background-color: var(--custom-input);
}

.cssDisabled{
    cursor: default;
    pointer-events: none;        
    text-decoration: none;
    color: grey;
}